
<!doctype html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Yogic a Sports Category Bootstrap Responsive Website Template - About : W3Layouts</title>

  <link
    href="//fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,400;1,600;1,700&display=swap"
    rel="stylesheet">

<!--  <link rel="stylesheet" href="assets/css/style-starter.css">-->
  <style>{% include 'assets/css/style-starter.css' %}</style>
</head>

<body>
  <!--header-->
  <header id="site-header" class="fixed-top">
    <div class="container">
      <nav class="navbar navbar-expand-lg stroke px-0">
        <h1>
          <a class="navbar-brand" href="index.html">
            <i aria-hidden="true"></i>MDS Yoga
          </a>
        </h1>

        <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
          data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
          <span class="navbar-toggler-icon fa icon-close fa-times"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mx-lg-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/classes">Classes</a>
            </li>
           <li class="nav-item active">
              <a class="nav-link" href="/registration">Registration</a>
            </li>
              <li class="nav-item active">
              <a class="nav-link" href="/login">Login</a>
            </li>
          </ul>
        </div>
        <!-- search button -->
<!--        <div class="search-right">-->
<!--          <a href="#search" title="search"><span class="fa fa-search" aria-hidden="true"></span></a>-->
<!--          &lt;!&ndash; search popup &ndash;&gt;-->
<!--          <div id="search" class="pop-overlay">-->
<!--            <div class="popup">-->
<!--              <form action="#search" method="GET" class="search-box">-->
<!--                <input type="search" placeholder="Enter Keyword" name="search" required="required" autofocus="">-->
<!--                <button type="submit" class="btn"><span class="fa fa-search" aria-hidden="true"></span></button>-->
<!--              </form>-->
<!--            </div>-->
<!--            <a class="close" href="#close">×</a>-->
<!--          </div>-->
          <!-- //search popup -->
<!--        </div>-->
        <!-- //search button -->
        <!-- toggle switch for light and dark theme -->
        <div class="cont-ser-position">
          <nav class="navigation">
            <div class="theme-switch-wrapper">
              <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox">
                <div class="mode-container">
                  <i class="gg-sun"></i>
                  <i class="gg-moon"></i>
                </div>
              </label>
            </div>
          </nav>
        </div>
        <!-- //toggle switch for light and dark theme -->
      </nav>
    </div>
  </header><br><br><br><br>

  <p>Yoga, an ancient practice and meditation, has become increasingly popular in today's busy society. For many people, yoga provides a retreat from their chaotic and busy lives. This is true whether you're practicing downward facing dog posture on a mat in your bedroom, in an ashram in India or even in New York City's Times Square. Yoga provides many other mental and physical benefits. Some of these extend to the kitchen table.<br>

Types of yoga<br>
* There are many types of yoga. Hatha (a combination of many styles) is one of the most popular styles. It is a more physical type of yoga rather than a still, meditative form. Hatha yoga focuses on pranayamas (breath-controlled exercises). These are followed by a series of asanas (yoga postures), which end with savasana (a resting period).<br>

* The goal during yoga practice is to challenge yourself physically, but not to feel overwhelmed. At this "edge," the focus is on your breath while your mind is accepting and calm.<br>

* Yoga develops inner awareness. It focuses your attention on your body's abilities at the present moment. It helps develop breath and strength of mind and body. It's not about physical appearance.

* Yoga studios typically don't have mirrors. This is so people can focus their awareness inward rather than how a pose — or the people around them — looks. Surveys have found that those who practiced yoga were more aware of their bodies than people who didn't practice yoga. They were also more satisfied with and less critical of their bodies. For these reasons, yoga has become an integral part in the treatment of eating disorders and programs that promote positive body image and self-esteem.<br>

* Becoming a mindful eater Mindfulness refers to focusing your attention on what you are experiencing in the present moment without judging yourself.<br>

* Practicing yoga has been shown to increase mindfulness not just in class, but in other areas of a person's life.<br>

* Researchers describe mindful eating as a nonjudgmental awareness of the physical and emotional sensations associated with eating. They developed a questionnaire to measure mindful eating using these behaviors:<br>

* Eating even when full (disinhibition)<br>
* Being aware of how food looks, tastes and smells<br>
* Eating in response to environmental cues, such as the sight or smell of food<br>
* Eating when sad or stressed (emotional eating)<br>
* Eating when distracted by other things<br>
* The researchers found that people who practiced yoga were more mindful eaters according to their scores. Both years of yoga practice and number of minutes of practice per week were associated with better mindful eating scores. Practicing yoga helps you be more aware how your body feels. This heightened awareness can carry over to mealtime as you savor each bite or sip, and note how food smells, tastes and feels in your mouth.<br>

A boost to weight loss and maintenance<br>
People who practice yoga and are mindful eaters are more in tune with their bodies. They may be more sensitive to hunger cues and feelings of fullness.<br>

Researchers found that people who practiced yoga for at least 30 minutes once a week for at least four years, gained less weight during middle adulthood. People who were overweight actually lost weight. Overall, those who practiced yoga had lower body mass indexes (BMIs) compared with those who did not practice yoga. Researchers attributed this to mindfulness. Mindful eating can lead to a more positive relationship with food and eating.<br>

Enhancing fitness
Yoga is known for its ability to soothe tension and anxiety in the mind and body. But it can also have an impact on a person's exercise capacity.<br>

Researchers studied a small group of sedentary individuals who had not practiced yoga before. After eight weeks of practicing yoga at least twice a week for a total of 180 minutes, participants had greater muscle strength and endurance, flexibility and cardio-respiratory fitness.<br>

Cardiovascular benefits
Several small studies have found yoga to have a positive effect on cardiovascular risk factors: It helped lower blood pressure in people who have hypertension. It's likely that the yoga restores "baroreceptor sensitivity." This helps the body senses imbalances in blood pressure and maintain balance.<br>

Another study found that practicing yoga improved lipid profiles in healthy patients as well as patients with known coronary artery disease. It also lowered excessive blood sugar levels in people with non-insulin dependent diabetes and reduced their need for medications. Yoga is now being included in many cardiac rehabilitation programs due to its cardiovascular and stress-relieving benefits.<br>

Before you start a new exercise program, be sure to check with your doctor.<br>

Researchers are also studying if yoga can help people with depression and arthritis, and improve survival from cancer.<br>

Yoga may help bring calm and mindfulness to your busy life. Find registered yoga teachers (RYT) and studios (RYS) through The Yoga Alliance.<br>

Namaste.</p>


  <!-- footer -->
<!--  <section class="w3l-footer-29-main">-->
<!--    <div class="footer-29 py-5">-->
<!--      <div class="container py-lg-4">-->
<!--        <div class="row footer-top-29">-->
<!--          <div class="col-lg-4 col-md-6 col-sm-7 footer-list-29 footer-1 pr-lg-5">-->
<!--            <div class="footer-logo mb-3">-->
<!--              <a class="navbar-brand" href="index.html">-->
<!--                <i class="fa fa-yoast" aria-hidden="true"></i>ogic-->
<!--              </a>-->
<!--            </div>-->
<!--            <p>Yoga teaches you how to listen your body, Join our Amazing online classes,-->
<!--              <br>semper at tempu amet.</p>-->
<!--          </div>-->
<!--          <div class="col-lg-2 col-md-6 col-sm-5 col-6 footer-list-29 footer-2 mt-sm-0 mt-5">-->

<!--            <ul>-->
<!--              <h6 class="footer-title-29">Quick Links</h6>-->
<!--              <li><a href="#">About Us</a></li>-->
<!--              <li><a href="#"> Classes</a></li>-->
<!--              <li><a href="#blog"> Blog Posts</a></li>-->
<!--              <li><a href="#blog">Blog Single</a></li>-->
<!--            </ul>-->
<!--          </div>-->
<!--          <div class="col-lg-2 col-md-6 col-sm-5 col-6 footer-list-29 footer-3 mt-lg-0 mt-5">-->
<!--            <h6 class="footer-title-29">More Info</h6>-->
<!--            <ul>-->
<!--              <li><a href="#privacy">Privacy Policy</a></li>-->
<!--              <li><a href="#terms"> Terms of Service</a></li>-->
<!--              <li><a href="contact.html">Contact us</a></li>-->
<!--              <li><a href="#support"> Support</a></li>-->
<!--            </ul>-->

<!--          </div>-->
<!--          <div class="col-lg-4 col-md-6 col-sm-7 footer-list-29 footer-4 mt-lg-0 mt-5">-->
<!--                        <h6 class="footer-title-29">Contact Info </h6>-->
<!--                        <p>3/79, Dhandapani nagar, Ootathur post, Lalgudi Taluk, Trichy District, Tamilnadu, India.</p>-->
<!--                        <p class="mb-2 mt-3"><i class="fa fa-phone mr-2" aria-hidden="true"></i><a-->
<!--                                href="tel:+12 23456790">+91 1234567897</a></p>-->
<!--                        <p> <i class="fa fa-envelope mr-2" aria-hidden="true"></i><a-->
<!--                                href="#">dhana@gmail.com</a></p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->

    <section class="w3l-copyright">
        <div class="container">
            <div class="row bottom-copies">
                <p class="col-lg-8 copy-footer-29">© 2023 Yogic. All rights reserved.
                <div class="col-lg-4 footer-list-29 text-right">
                    <div class="main-social-footer-29">
                        <a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a>
                        <a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a>
                        <a href="#google"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
                        <a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>
                        <a href="#linkedin" class="linkedin"><span class="fa fa-linkedin"></span></a>

                    </div>
                </div>
            </div>
        </div>

    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
      &#10548;
    </button>
    <script>
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function () {
        scrollFunction()
      };

      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          document.getElementById("movetop").style.display = "block";
        } else {
          document.getElementById("movetop").style.display = "none";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
    </script>
    <!-- /move top -->
  </section>
  <!-- //copyright -->

  <!-- Js scripts -->
  <!-- common jquery plugin -->
  <script src="assets/js/jquery-3.3.1.min.js"></script>
  <!-- //common jquery plugin -->
  <!-- owl carousel for team -->
  <script src="assets/js/owl.carousel.js"></script>
  <script>
      $(document).ready(function () {
          $('.owl-carousel').owlCarousel({
              loop: true,
              margin: 0,
              responsiveClass: true,
              responsive: {
                  0: {
                      items: 1,
                      nav: true
                  },
                  667: {
                      items: 2,
                      nav: true,
                      margin: 20
                  },
                  1000: {
                      items: 2,
                      nav: true,
                      loop: true,
                      margin: 20
                  }
              }
          })
      })
  </script>
  <!-- //owl carousel for team -->
  <!-- theme switch js (light and dark)-->
  <script src="assets/js/theme-change.js"></script>
  <script>
    function autoType(elementClass, typingSpeed) {
      var thhis = $(elementClass);
      thhis.css({
        "position": "relative",
        "display": "inline-block"
      });
      thhis.prepend('<div class="cursor" style="right: initial; left:0;"></div>');
      thhis = thhis.find(".text-js");
      var text = thhis.text().trim().split('');
      var amntOfChars = text.length;
      var newString = "";
      thhis.text("|");
      setTimeout(function () {
        thhis.css("opacity", 1);
        thhis.prev().removeAttr("style");
        thhis.text("");
        for (var i = 0; i < amntOfChars; i++) {
          (function (i, char) {
            setTimeout(function () {
              newString += char;
              thhis.text(newString);
            }, i * typingSpeed);
          })(i + 1, text[i]);
        }
      }, 1500);
    }

    $(document).ready(function () {
      // Now to start autoTyping just call the autoType function with the 
      // class of outer div
      // The second paramter is the speed between each letter is typed.   
      autoType(".type-js", 200);
    });
  </script>
  <!-- //theme switch js (light and dark)-->
  <!-- MENU-JS -->
  <script>
    $(window).on("scroll", function () {
      var scroll = $(window).scrollTop();

      if (scroll >= 80) {
        $("#site-header").addClass("nav-fixed");
      } else {
        $("#site-header").removeClass("nav-fixed");
      }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
      $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
      $(window).on("resize", function () {
        if ($(window).width() > 991) {
          $("header").removeClass("active");
        }
      });
    });
  </script>
  <!-- //MENU-JS -->
  <!-- disable body scroll which navbar is in active -->
  <script>
    $(function () {
      $('.navbar-toggler').click(function () {
        $('body').toggleClass('noscroll');
      })
    });
  </script>
  <!-- //disable body scroll which navbar is in active -->
  <!-- /counter-->
  <script src="assets/js/counter.js"></script>
  <!-- //counter-->
  <!--bootstrap-->
  <script src="assets/js/bootstrap.min.js"></script>
  <!-- //bootstrap-->
  <!-- //Js scripts -->

</body>

</html>